#mainNav, #hder, #clientData, #hder-tit{
  display: none !important;
}
h4{
  text-align: center;
  font-size: 15px;
}
th{
  font-size: 13px !important;
  font-family: monospace !important;
  line-height: 9px !important;
  font-weight: bold !important;
  color: rgb(0,0,0) !important;
}
td{
  font-size: 12px !important;
  font-family: monospace !important;
  line-height: 6px !important;
  font-weight: normal !important;
  color: rgb(0,0,0) !important;
}
footer{
  position: relative;
}
footer h5{
  font-family: monospace !important;
  font-size: 7px !important;
  font-weight: lighter !important;
  color: rgb(8,9,8);
}
.printable-hder{
  display: block !important;
}
img{
  margin-top: 5%;
  margin-left: 10%;
  width: 80%;
  height: 80%;
}
span{
  font-size: 12px !important;
}
.indicator{
  width: 60%;
  height: 25%;
  margin-left: 20%;
  margin-top: 3%;
  overflow: hidden;
  font-size: 10px;
  font-weight: lighter;
}
.time{
  padding: 0;
  margin: 0;
  width: 33%;
  height: 100%;
  float: left;
  /* border-radius: 5px;
  border: 2px solid rgb(0,0,0); */
  font-family: monospace;
  text-align: center;
}
.t1{
  border-radius: 5px 0px 0px 5px;
  border-left: 2px solid rgb(0,0,0);
  border-top: 2px solid rgb(0,0,0);
  border-bottom: 2px solid rgb(0,0,0);
  border-right: 1px solid rgb(0,0,0);
}
.t2{
  border-left: 1px solid rgb(0,0,0);
  border-top: 2px solid rgb(0,0,0);
  border-bottom: 2px solid rgb(0,0,0);
  border-right: 1px solid rgb(0,0,0);
}
.t3{
  border-radius: 0px 5px 5px 0px;
  border-left: 1px solid rgb(0,0,0);
  border-top: 2px solid rgb(0,0,0);
  border-bottom: 2px solid rgb(0,0,0);
  border-right: 2px solid rgb(0,0,0);
}
.htm{
  background-color: #adb5bd;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 2px solid rgb(0,0,0);
  line-height: 8px;
}
.htm:first-child{
  border-radius: 5px 0 0 0;
}
.htm:last-child{
  border-radius: 0 5px 0 0;
}
